@model RESTaurant.Models.Restaurant

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>RESTaurant</title>
</head>
	<body>
		<h1>@Model.Name</h1>
		<p>The ID for this restaurant is @Model.ID</p>
	</body>
</html>